body {
    font-family: "Permanent Marker", cursive;
}

div {
    font-family: "Permanent Marker", cursive;
    background-color: purple;
    margin: 5px;
}

p {
    margin: 0px, 0px, 8px;
}

button {
    margin: 5px;
    justify-self: center;
}


.scores {
    float: left;
    border: solid;
    font-family: "Lexend Peta", sans-serif;
}
