body {
    font-family: "Permanent Marker", cursive;
}

div {
    font-family: "Permanent Marker", cursive;
    background-color: purple;
    margin: 5px;
}

h1 {
    float: left;
}
.orange {
    border: solid;
    border-color: orange;
}

form {
    font-family: "Lexend Peta", sans-serif;
}

.form .register-form {
    display: none;
}

p {
    justify-items: center;
    margin: 0px, 0px, 8px;
}

button {
    margin: 5px;
    float: left;
    font-family: "Lexend Peta", sans-serif;
}


.scores {
    float: left;
    min-width: 200px;
    min-height: 200Spx;
    border: solid;
    font-family: "Lexend Peta", sans-serif;
}
